<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TechSecure Solutions</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

    <header class="navbar">
        <div class="logo-zone">
            <img src="{{ url_for('static', filename='IMAGE/logo.png') }}" alt="Logo TechSecure Solutions">
        </div>
        <nav>
            <a href="{{ url_for('accueil') }}">Accueil</a>
            <a href="{{ url_for('services') }}">Services</a>
            <a href="{{ url_for('filiales') }}">Filiales</a>
            <a href="{{ url_for('apropos') }}">À propos</a>
            <a href="{{ url_for('contact') }}">Contact</a>
        </nav>
    </header>

    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <div class="flash">
          {% for message in messages %}
            <p>{{ message }}</p>
          {% endfor %}
        </div>
      {% endif %}
    {% endwith %}

    <main>
        {% block content %}{% endblock %}
    </main>

    <footer>
        <p>&copy; 2026 TechSecure Solutions - Site sécurisé avec Flask, MySQL et Docker</p>
    </footer>

</body>
</html>